<div class="cards">
  <button class="fas fa-check btn resolved-btn" type="button"></button>
    <div class="cards-info">
      <h3 class="task">
        <%= task.name %>
      </h3>
      <p class="time">
        <%= l task.created_at, format: :custom %>
      </p>
    </div>
  <%= button_to '', task, method: :delete, class: 'fas fa-times btn delete-btn' %>
</div>